<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of view">
                    <th>{{i.name}}</th>
                    <td>{{i.image}}</td>
                    <td>{{i.category}}</td>
                    <td>{{i.price}}</td>
                    <td>{{i.description}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>